<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @whatanidea.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @whatanidea.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @whatanidea.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @whatanidea.picture %>
</p>

<%= link_to 'Edit', edit_whatanidea_path(@whatanidea) %> |
<%= link_to 'Back', whatanideas_path %>
